Repository collinbarrett/wp-host-on-containers: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.jennythebaker-com.yaml, azure-pipelines.nginx.yaml

azure-pipelines.jennythebaker-com.yaml:

trigger:
  batch: false
  branches:
    include: ["master"]
  paths:
    include:
      [
        "azure-pipelines.jennythebaker-com.yaml",
        "docker-compose.jennythebaker-com.yml",
      ]

pr: none

pool:
  vmImage: "ubuntu-latest"

steps:
  - task: CopyFiles@2
    displayName: "stage files"
    inputs:
      SourceFolder: "$(Build.SourcesDirectory)"
      Contents: |
        docker-compose.*.yml
      TargetFolder: "$(Build.ArtifactStagingDirectory)"
      CleanTargetFolder: true
      OverWrite: true

  - task: PublishBuildArtifacts@1
    displayName: "publish files"
    inputs:
      PathtoPublish: "$(Build.ArtifactStagingDirectory)"
      ArtifactName: "drop"
      publishLocation: "Container"

azure-pipelines.nginx.yaml:

trigger:
  batch: false
  branches:
    include: ["master"]
  paths:
    include:
      ["azure-pipelines.nginx.yaml", "nginx/**", "docker-compose.nginx.yml"]

pr: none

pool:
  vmImage: "ubuntu-latest"

steps:
  - task: CopyFiles@2
    displayName: "stage files"
    inputs:
      SourceFolder: "$(Build.SourcesDirectory)"
      Contents: |
        nginx/**
        docker-compose.*.yml
      TargetFolder: "$(Build.ArtifactStagingDirectory)"
      CleanTargetFolder: true
      OverWrite: true

  - task: PublishBuildArtifacts@1
    displayName: "publish files"
    inputs:
      PathtoPublish: "$(Build.ArtifactStagingDirectory)"
      ArtifactName: "drop"
      publishLocation: "Container"

update shields URLs
  .github/README.md
Due: none

test new build/release configs
  azure-pipelines.collinmbarrett-com.yaml
  azure-pipelines.jennythebaker-com.yaml
  azure-pipelines.nginx.yaml
  azure-pipelines.sycamorememphis-org.yaml
Due: azure-pipelines.jennythebaker-com.yaml, azure-pipelines.nginx.yaml

update some README shields
  .github/README.md
Due: none

normalize tabs/spaces
  nginx/conf.d/wp-collinmbarrett_com.conf
  nginx/conf.d/wp-jennythebaker_com.conf
  nginx/conf.d/wp-sycamorememphis_org.conf
  nginx/svr-includes/exclusions.conf
  nginx/svr-includes/static-files.conf
Due: azure-pipelines.nginx.yaml

update SSL config
  nginx/svr-includes/ssl.conf
Due: azure-pipelines.nginx.yaml

try alt recursive nginx dir trigger
  azure-pipelines.collinmbarrett-com.yaml
  azure-pipelines.jennythebaker-com.yaml
  azure-pipelines.nginx.yaml
  azure-pipelines.sycamorememphis-org.yaml
Due: azure-pipelines.jennythebaker-com.yaml, azure-pipelines.nginx.yaml

minor tweaks to ssl.conf to test trigger
  nginx/svr-includes/ssl.conf
Due: azure-pipelines.nginx.yaml

add Redis to README stack
  .github/README.md
Due: none

bump client_max_body_size
  nginx/conf.d/limits.conf
Due: azure-pipelines.nginx.yaml

Revert "bump client_max_body_size"
  nginx/conf.d/limits.conf
Due: azure-pipelines.nginx.yaml

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

feat: ✨ enable cf web analytics
  nginx/conf.d/wp-jennythebaker_com.conf
  nginx/conf.d/wp-sycamorememphis_org.conf
Due: azure-pipelines.nginx.yaml

Update FUNDING.yml
  .github/FUNDING.yml
Due: none

fix: 🐛 master -> main
  azure-pipelines.collinmbarrett-com.yaml
  azure-pipelines.jennythebaker-com.yaml
  azure-pipelines.nginx.yaml
  azure-pipelines.sycamorememphis-org.yaml
Due: azure-pipelines.jennythebaker-com.yaml, azure-pipelines.nginx.yaml

fix: use lts mariadb
  docker-compose.collinmbarrett-com.yml
  docker-compose.jennythebaker-com.yml
  docker-compose.sycamorememphis-org.yml
Due: azure-pipelines.jennythebaker-com.yaml

refactor: 🔥 rm collinmbarrett & sycamorememphis
  .github/README.md
  azure-pipelines.collinmbarrett-com.yaml
  azure-pipelines.sycamorememphis-org.yaml
  docker-compose.collinmbarrett-com.yml
  docker-compose.nginx.yml
  docker-compose.sycamorememphis-org.yml
  nginx/conf.d/wp-collinmbarrett_com.conf
  nginx/conf.d/wp-sycamorememphis_org.conf
Due: azure-pipelines.nginx.yaml

chore: update deprecated docker-compose syntax
  docker-compose.jennythebaker-com.yml
  docker-compose.nginx.yml
Due: azure-pipelines.jennythebaker-com.yaml, azure-pipelines.nginx.yaml

revert cert path update
  docker-compose.nginx.yml
Due: azure-pipelines.nginx.yaml
